*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing cancels adding pixels to borders */ }
  
  html {
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 2rem;
}


.main {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(to bottom right, rgba(136, 11, 194, 0.85), rgba(72, 8, 114, 0.85)), url(../img/chinatown.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    margin: auto;
}

.main h1 {
    font-size: 6rem;
    text-transform: uppercase;
    
}

.chatr-logo {
    width: 15rem;
    margin-bottom: 3rem;
}

.promo-box {
    -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.promo-box ul li {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: solid 1px white;
    padding: 0 3rem;
    display: inline-block;
    color: rgb(72, 8, 114);
    list-style: none;
}

.secondary-heading {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    
}

.box-1, 
.box-2 {
    font-size: 2rem;
    box-shadow: 1rem 2rem 3rem rgba(black, 0.2);
}
